.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 3.5rem;

    background-color: rgba(0, 4, 53, 1.0);
}

.navlink {
    font-size: 1.3rem;
    text-decoration: none;
}

.navlink:visited {
    color: rgba(255, 255, 255, 0.9);
}

.active:visited {
    color:rgba(220, 20, 60, 1.0);
}

.active {
    text-decoration: underline;
}

.navlink:hover {
    color: rgba(220, 20, 60, 1.0);
}
